# Mapbox Token (Public token - can be in client code)
# Get your token at: https://account.mapbox.com/access-tokens/
# Make sure to use a PUBLIC token with URL restrictions
VITE_MAPBOX_TOKEN=pk.your_mapbox_token_here
